@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* CONFIGURAÇÃO */

* {
    font-family: "arial";
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

h1,
h2 {
    font-family: "PT Sans";
    font-weight: normal;
}

ul {
    display: flex;

}

ul li {
    list-style: none;
}

/* HEADER */

header .container {
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: 20px;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

/* HEADER -> LOGO */

.logo {
    display: flex;
    align-items: center;
}

/* HEADER -> MENU */


.menu {
    display: flex;
    align-items: center;
}



.menu nav ul li a {
    display: block;
    font-size: 15px;
    padding: 15px;
    margin: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #8888;
    transition: background 0.2s 0s linear;
    border-radius: 2px;
}


nav a.active,
.menu nav ul li a:hover {
    background: #42b3e5;
    color: #fff !important;
}

/* BANNER */

main {
    display: flex;
    justify-content: center;
    background-image: url('../images/img1.jpg');
    background-size: cover;
    height: 670px;
}

main .container {
    flex-direction: column;

}

main .container .title {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .container .title h1,
main .container .title h2 {
    color: #fff;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

main .container .title h1 {
    line-height: 72px;
    font-size: 72px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 0px #565656;
    max-width: 400px;
}

main .container .title h2 {
    text-shadow: 1px 1px 0px #565656;
    font-size: 24px;
    max-width: 400px;

}

/* BANNER - OPÇÕES */

.container .options {
    display: flex;
    height: 215px;
}

.option-item {
    flex: 1;
    padding: 21px 30px 30px;
    color: #fff;
}

.option1 {
    border-top-left-radius: 10px;
    background: #39aae1;
}

.option2 {
    background: #0079c7;
}

.option3 {
    border-top-right-radius: 10px;
    background: #2b4c99;
}

.option-item h1 {
    margin-top: 5px;
    font-weight: normal;
    font-size: 24px;
}

.option-item p {
    font-size: 13px;
    margin-bottom: 20px;
    line-height: 20px;
}

.option-item a {
    display: inline-block;
    font-size: 0.7em;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: 1.5px solid #fff;
    outline: 0;
    padding: 7px 10px;
    border-radius: 2px;
    transition: all 0.2s 0s linear;
    margin-bottom: 15px;
}

.option-item a:hover {
    background-color: #fff;
    color: #000;
}

.option-item .line {
    border-bottom: 1px solid #ffffff42;
    padding: 7px 0px;
}

.line {
    display: flex;
    justify-content: space-between;
}

.line p {
    margin: 0;
    padding: 0;
}

/* CONTEÚDO  */

body>section {
    display: flex;
    justify-content: center;
}

body>section .container>section {
    flex: 2;
}

body>section .container>aside {
    flex: 1;
}

.widget .widget-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget .widget-title h1 {
    color: #000;
    font-size: 18px;
    margin-bottom: 7px;
}

.widget .widget-title div {
    width: 50px;
    height: 2px;
    background: #36a9e1;
}

/* CONTEÚDO - DEPARTMENTS */

.departments .widget-body .boxes {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.departments .widget-body ul {
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.departments .widget-body li {
    width: 150px;
    background-position: center;
    background-size: cover;
    height: 150px;
    border-radius: 10px;
}

.departments .widget-body ul .pic1 {
    background-image: url(../images/departments/img1.jpg);
}

.departments .widget-body ul .pic2 {
    background-image: url(../images/departments/img2.jpg);
}

.departments .widget-body ul .pic3 {
    background-image: url(../images/departments/img3.jpg);
}

.departments .widget-body ul .pic4 {
    background-image: url(../images/departments/img4.jpg);
}

.departments .widget-body ul .pic5 {
    background-image: url(../images/departments/img7.jpg);
}

.departments .widget-body ul .pic6 {
    background-image: url(../images/departments/img6.jpg);
}

/* CONTEÚDO - APPOINTMENT */

.appointment .widget-body>p {
    font-size: 13px;
    color: #666;
    margin-bottom: 30px;
}

.appointment .widget-body section ul {
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.appointment .widget-body section ul li {
    display: flex;
    align-items: center;
    padding: 7px 0px;
    border-top: 1px solid #cccccca3;

}

.appointment .widget-body section ul li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


.appointment .widget-body section ul li p {
    font-size: 13px;
    color: #666;
}

.appointment .widget-body section ul li p a {
    color: #0079c7;
}

.appointment .widget-body section ul li:last-child {
    border-bottom: 1px solid #cccccca3;
}

/* NEWS */


.widget-body.news {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}



article {
    flex: 1;
    min-width: 300px;
    height: auto;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccca3;

}

/* DATA DA NOTÍCIA */

article .news-data {
    display: flex;
    gap: 2px;
    margin-bottom: 30px;
}

article .news-data div {
    padding: 10px 13px;
    font-size: 11px;
    color: #fff;
}

article .news-data .posted-at {
    background: #2b4c99;

}

article .news-data .comments {
    background: #36a9e1;
}

/* CORPO DA NOTÍCIA */

article .news-image {
    margin-top: 30px;
}

article .news-image img {
    width: 100%;
}

article .news-title {
    font-size: 24px;
    margin: 25px 0px;

}

article .news-resume {
    font-size: 13px;
    line-height: 18px;
    color: #666;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    background: #1e1e1e;
}

footer .container {
    flex-direction: column;
}

/* FOOTER -> OPÇÕES */

footer .container .options {
    height: 100px;
}

footer .container .option1,
footer .container .option2,
footer .container .option3 {
    border-radius: 0;
}


footer .options .option-item h1 {
    margin-top: 0px;
}

footer .options .option-item p {
    margin-top: -10px;
}

.option-item p>a {
    padding: 0;
    margin: 0 0 0 5px;
    border: 0;
}

footer .container>p {
    color: #909090;
    font-size: 11px;
}

footer .container>p a {
    text-decoration: none;
    color: #fff;
}

/* FOOTER -> MENU */

footer .info {
    display: flex;
    border-bottom: 1px solid #2a2a2a;
}

footer .info .info-item {
    margin-right: 20px;
    flex: 1;
}

footer .info .info-item {
    margin-bottom: 20px;
}

.info-item .widget .widget-title h1 {
    color: #fff;
}

/* INFO1 */

.info1 .widget .widget-body p {
    color: #909090;
    font-size: 13px;
}

.info1 .widget .widget-body>p {
    margin: 30px 0;
}

.info1 .line p>a {
    text-decoration: none;
    color: #fff;
}

.info1 .widget .widget-body>p:last-child {
    display: flex;
    gap: 5px;
}

.info1 .widget .widget-body>p:last-child img {
    width: 28px;
    height: 28px;
}

/* INFO2 - 3 */

.info2 .widget .widget-body .item p {
    color: #fff;
}

.info3 .widget .widget-body .item p {
    color: #909090;
}

.info-default .widget .widget-body .item p {
    margin: 0;
    font-size: 13px;
    padding-left: 20px;
}

.info-default .widget .widget-body .item p:first-child {
    background-image: url(../images/footer/arrows.png);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position-y: 2px;
}

.info-default .widget .widget-body .item p:last-child {
    color: #36a9e1;
    font-size: 11px;
}


.info-default .widget .widget-body .item {
    padding: 10px 0px;
}


/* MEDIAS */

@media (max-width:990px) and (min-width:900px) {
    .container {
        width: 900px;
    }
}

@media (max-width:900px) and (min-width:820px) {
    .container {
        width: 820px;
    }
}

@media (max-width:820px) and (min-width:720px) {
    .container {
        width: 720px;
    }
}

@media (max-width:720px) and (min-width:620px) {
    .container {
        width: 620px;
    }
}

@media (max-width:620px) and (min-width:720px) {
    .container {
        width: 520px;
    }
}

@media (max-width:520px) {
    .container {
        width: 420px;
    }
}